@charset "UTF-8";

/*Outras mídias*/
@media screen and (min-width: 768px) and (max-width: 992px) {
   
    html, body{
        background-image: linear-gradient(to top, var(--rosa), var(--azul), var(--verde)) no-repeat fixed;
        background-size: cover;
        }
   
    #login {
        width: 80vw;
    }

    #login #imagem {
        float: right;
        width: 35%;
        height: 100%;
    }

    #login #form {
        float: left;
        width: 65%;
    }

   #form h1 {
        font-size: 2em;
   }
   
    #form p {
        font-size: 1.3em;
    }

}

@media screen and (min-width: 992px) {
    
   body, html{
        background-image: linear-gradient(to top, var(--rosa), var(--azul), var(--verde)) no-repeat fixed;
        background-size: cover;
        }

    #login {
        width: 950px;
    }

    #login #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #login #form {
        float: right;
        width: 50%;
    }

    #form h1 {
        font-size: 2em;
   }
   
    #form p {
        font-size: 1.3em;
    }

}